body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input {
    width: 75px;
    margin-right: 10px;
}

button {
    display: block;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}